/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #1a1a1a;
    color: white;
}

/* Genral Styles for all  */
h2 {
    font-size: 36px;
    border-bottom: 3px solid #00bcd4;
    width: fit-content; /* Ensures border matches text length */
    /* padding-bottom: 5px; */
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 60px;
}

p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.908);
}

/* Navbar Styling */
.header {
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1200px; */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a.active {
    color: #00bcd4;
    font-weight: bold;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #00bcd4;
}

.contact a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 8px;
}
