footer {
    background-color: #f9f9f9; /* Match background color */
    padding: 40px 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align columns to the top */
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left p {
    font-size: 14px;
    color: #777; /* Match text color */
    margin-bottom: 5px;
}

.footer-left a {
    color: #0084b4; /* Match link color */
    text-decoration: none;
}

.footer-left a:hover {
    text-decoration: underline;
}

.footer-right {
    display: flex;
}

.footer-column {
    text-align: left;
    margin-left: 40px; /* Adjust spacing between columns */
}

.footer-column h4 {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 8px;
}

.footer-column a {
    text-decoration: none;
    color: #777;
    font-size: 14px;
}

.footer-column a:hover {
    text-decoration: underline;
    color: #0084b4;
}
