body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
/* header {
    max-width: 1200px;
    margin: 0 auto;
} */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 40px;
    font-weight: bold;
}

.logo-period {
    color: rgb(27, 178, 238);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 24px;
}

nav ul li a:hover {
    color: gray;
}
